html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    line-height: 1.5em;
}

hr {
    border: 0.5rem rgb(155, 153, 153) dotted;
    border-bottom: none;
    width: 8%;
}

.my-navbar {
    background-color: white;
    animation-name: onLoad;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes onLoad {
    0% {
        background-color: white;
        left: 0px;
        top: 0px;
    }
    50% {
        background-color: rgba(248, 80, 50, 1);
        left: 0px;
        top: 0px;
    }
    100% {
        background-color: white;
        left: 0px;
        top: 0px;
    }
}

.my-navbar a,
.my-navbar li {
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.3rem;
}

.my-navbar li {
    margin: 0.5rem;
}

.my-navbar li:hover {
    color: white;
}

.collapse a:hover {
    color: white;
}

.my-navbar:hover {
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(246, 41, 12, 1) 65%, rgba(246, 41, 12, 1) 72%, rgba(240, 47, 23, 1) 88%, rgba(231, 56, 39, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(65%, rgba(246, 41, 12, 1)), color-stop(72%, rgba(246, 41, 12, 1)), color-stop(88%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(231, 56, 39, 1)));
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(246, 41, 12, 1) 65%, rgba(246, 41, 12, 1) 72%, rgba(240, 47, 23, 1) 88%, rgba(231, 56, 39, 1) 100%);
    background: -o-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(246, 41, 12, 1) 65%, rgba(246, 41, 12, 1) 72%, rgba(240, 47, 23, 1) 88%, rgba(231, 56, 39, 1) 100%);
    background: -ms-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(246, 41, 12, 1) 65%, rgba(246, 41, 12, 1) 72%, rgba(240, 47, 23, 1) 88%, rgba(231, 56, 39, 1) 100%);
    background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(246, 41, 12, 1) 65%, rgba(246, 41, 12, 1) 72%, rgba(240, 47, 23, 1) 88%, rgba(231, 56, 39, 1) 100%);
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.welcome-message {
    width: 20%;
    margin: 2% auto;
    text-align: center;
}

form {
    display: block;
    margin: 5% auto;
    text-align: center;
}

label {
    display: block;
}

input {
    border-radius: 10px;
    border: 2px solid rgba(248, 80, 50, 1);
    width: 30%;
}

.btn {
    background-color: rgba(248, 80, 50, 1);
    border: none;
    color: black;
    transition: .3s;
    box-sizing: border-box;
}

.btn:hover {
    background-color: rgba(248, 80, 50, 1);
    color: white;
    box-shadow: 5px 5px rgba(33, 33, 33, .2);
}

.donor-data-heading {
    width: 30%;
    margin: 2% auto;
    text-align: center;
}

.donor-data {
    text-align: center;
    justify-content: center;
    margin: 5% 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(248, 80, 50, 1);
    color: white;
}

.footer {
    text-align: center;
    padding: 2.5rem;
    margin-top: 3%;
    background-color: rgba(248, 80, 50, 1);
    padding-bottom: 50px;
    font-size: 1.5rem;
}

body {
    font-family: sans-serif;
}

table {
    margin-top: 50px;
    text-align: center;
    background: rgb(245, 57, 57);
    color: #fff;
}

#show th, #show td {
    padding: 13px;
}

#btna td input {
    width: 100%;
}